<div class="table-row columns">
  <div class="column gelir">
    <h3>Gelir</h3>
    <hr>

    <!--Budget item card-->
    <div *ngFor="let data of budgetItems">
      <app-budget-item-card
      [item]="data"  
      [isGelir]="true"
      *ngIf="data.amount>=0"
      ></app-budget-item-card>
    </div>
    

    
  </div>
  <div class="column gider">
    <h3>Gider</h3>
    <hr>
<!--Budget item card-->
    <div *ngFor="let data of budgetItems" >
      <app-budget-item-card
      [item]="data"
      [isGelir]="false"
      *ngIf="data.amount<0"
      ></app-budget-item-card>

    </div>
   

  </div>
</div>