
  <nav class="navbar has-background-dark">
    <div class="header has-gradient">
      <h1>Bakkal - App</h1>
    </div>
   
  </nav>  


<section>
  <div class="columns">
    <!--MENU COLUMN-->
    <div class="column is-3 menu-column">
      <div class="menu-header">
        <div class=" has-gradient">
          <h2>Menu</h2>
        </div>
      </div>
      
      <div class="menu-item">
        <h3>Gelir / Gider</h3>
      </div>

      <div class="menu-item">
        <h3>Veresiye Defteri</h3>
      </div>
    
    </div>
    <!--BODY COLUMMN-->
    <div class="column">
      <h2>gövde</h2>
    </div>
   
  </div>
</section>

<footer>
  <div class="foot"></div>
</footer>
