
  <nav class="navbar has-background-dark">
    <div class="header has-gradient">
      <h1>Bakkal - App</h1>
    </div>
   
  </nav>  


<section>
  <div class="columns">
    <!--MENU COLUMN-->
    <div class="column is-2 menu-column">
      <a [routerLink]="['/home']"><div class="menu-header">
        <div class=" has-gradient">
          <h2>Menu</h2>
        </div>
      </div></a>

      <a routerLink="dashboard"><div  class="menu-item">
        <h3>Dashboard</h3>
      </div></a>
      
      
      <a routerLink="bakiye"><div  class="menu-item">
        <h3>Gelir / Gider</h3>
      </div></a>
      

      <div class="menu-item">
        <h3>Veresiye Defteri</h3>
      </div>
    
    </div>

    <!--BODY COLUMMN-->
    <div class="column body-column">
     
      <div class="">
        <router-outlet></router-outlet>
      </div>
     
    </div>
   
  </div>
</section>

<footer>
  <div class="foot"></div>
</footer>


