
<!--FORM-->
<div class="input-form">
 
  <form #itemForm="ngForm"  (ngSubmit)="onSubmit(itemForm)">

    <div class="field has-addons has-addons-right">
      <p class="control">
        <span class="select" >
          <select required name="description" ngModel >
            <option value="" disabled>Seçiniz</option>
            <option *ngFor="let cost of costs" name="description"  >{{cost}}</option>
            
            
          </select>
        </span>
      </p>
      <p class="control">
        <input required name="amount" [(ngModel)]="data.amount" class="input" type="number" placeholder="Amount of money">
      </p>
      <p class="control">
        <button [disabled]="!itemForm.valid" type="submit"  class="button is-primary">
          Kaydet
        </button>
      </p>
    </div>
  </form>
</div>

<div class="container ">
  <div class="total-display-row">
    <p>300</p>
  </div>  
</div>