*{
   
}

html,body{
    height: 100%;;
}

html{
    background-image: url('./assets/img/background.svg');
    background-size: cover;
    overflow-y: auto !important;
}

// Common Classes
.has-gradient{
    //to make KANBAN text gradient color.
    background: -webkit-linear-gradient(#14e7f4,#2af598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}