
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


// Set your brand colors
$orange: #ffbc57;
$purple: #ab8dad;
$brown: #363636;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

//Color for Buttons

$light-purple:#f2b8fa;

$green:#72c497;
$light-green:#c8eecb;

$red:#e6454de7;
$light-red:#f7d8d8;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;